<h1>This is home</h1>
<p>Some paragraph</p>
{{greeting}}

<p><label for="sometext">Some Text:</label></p>

<textarea id="sometext" name="sometext" rows="10" cols="50">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra lacus vel accumsan venenatis. Etiam ut venenatis quam. Donec efficitur finibus rhoncus. Nullam elit turpis, tempus vel tempor quis, consectetur vitae nisl. Ut non risus sit amet nisl hendrerit venenatis. Nam non ullamcorper ante. Etiam auctor ullamcorper magna, sed lacinia urna maximus id. Sed sit amet ipsum at ante sollicitudin sollicitudin. Nam in euismod augue. Morbi nec nisl vitae turpis tristique pharetra. Fusce tincidunt risus at nisl vehicula, vel tincidunt purus posuere. Nullam laoreet fringilla nisi et eleifend.
</textarea>